name: CI

on:
  push:
    branches:
      - '**'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Run tests
      run: ./mvnw test -Dmaven.surefire.parallel=classes -Dmaven.surefire.threadCount=2 -Dmaven.surefire.useFile=false -Dmaven.surefire.printSummary=true
      env:
        SPRING_PROFILES_ACTIVE: test